<li>
  <div class="ingredient">
    <%= composition.ingredient.title %>
  </div>
  <div class="ingredient-value">
    <%= composition.weight %>г 
  </div>

</li>

<div>
  <%= link_to 'изменить', edit_composition_path(composition.id) %> 
</div>


