<h1>Ингредиенты</h1>
<hr>
	<%= form_tag( ingredients_path , method: "get", remote: true) do %>
    <%= text_field_tag :search, params[:search], placeholder: "Введите слово для поиска" %>
    <%= submit_tag "Начать поиск",  class: "btn btn-secondary fix-right" %>
  <% end %>
<hr>

<div id="ingredient-all">
	<%= render 'results'%>
</div>
<div id="search-results">
</div>

<div class="source: http://easy-lose-weight.info/tablitsa-kaloriinosti-productov-pitaniya/"></div>