<div class="card border-success mb-3  max-w" style="max-width: 17rem;">
  <div class="card-header">Совет №<%= advice.id %></div>
  <div class="card-body text-success">
    <p class="card-text"><%= advice.summary %></p>
  </div>
</div>
