<div class="col-sm-4">
  <div class="card">
    <%= link_to diet do %>
      <img src="https://e3.edimdoma.ru/data/recipes/0003/0161/30161-ed4_wide.jpg?1468693997" class="card-img-top" alt="...">
    <% end %>
    <div class="card-body">
      <% if can? :update, diet %>
        <%= link_to image_tag('pencil.png'), edit_diet_path(diet),  class: "close" %>
      <% end %>
      <h5 class="card-title"><%= link_to diet.title, diet_path(diet) %></h5>
      <p class="card-text"><%= diet.description.html_safe %></p>
    </div>
  </div> 
</div>