<div class="col-sm-4">
  <%= link_to category do %>
    <div class="card" >
      <%= image_tag category.cover.url(:thumb), class: "card-img-top"  if category.cover? %>
      <div class="card-body">
        <% if can? :update, category %>
          <%= link_to image_tag('pencil.png'), edit_category_path(category),  class: "close" %>
        <% end %>
        <p class="card-text"><%= category.title %> </p>
      </div>
    </div>
  <% end %>
</div>